.headline-image {
    background: #fcfcfc;
}

.headline-image img {
    margin: 0 auto;
}

article h2 {
    padding: 0;
}

#post-meta {
    height: 30px;
}

#post-meta #date-created {
    float:left;
    padding-right: 10px;
}

#post-meta #tags {
    float:left;
}

.post-content-markdown {
    margin: 20px 0;
}

figure {
    background: #f2f2f2;
    padding: 20px 20px 10px 20px;
    margin-bottom: 10px;
}

figure figcaption {
    padding-top: 10px;
    font-style: italic;
}

figure img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    padding: 20px 0 10px 0;
}

#read-more {
    border: 3px solid #E00070;
    padding: 15px;
}

#read-more:hover {
    color: #9E004F;
}