section#tags ul {
    margin: 0;
    list-style: none;
    display: inline-flex;
    padding: 0;
}

section#tags ul li::after{ 
    content: ",\00a0";
}

section#tags ul li:last-child::after, section#tags ul li:first-child::after{ 
    content: "\00a0";
}